@font-face {
    font-family: OpenSans-bold;
    src: url(./assets/fonts/OpenSans-Bold.ttf);
    font-display: swap;
}
@font-face {
    font-family: OpenSans-semi-bold;
    src: url(./assets/fonts/OpenSans-SemiBold.ttf);
    font-display: swap;
}
@font-face {
    font-family: OpenSans-medium;
    src: url(./assets/fonts/OpenSans-Medium.ttf);
    font-display: swap;
}
@font-face {
    font-family: OpenSans-regular;
    src: url(./assets/fonts/OpenSans-Regular.ttf);
    font-display: swap;
}

.font-bold {
  margin: 0;
  font-family: OpenSans-bold !important;
}
.font-semi-bold {
  margin: 0;
  font-family: OpenSans-semi-bold;
}
.font-medium {
    margin: 0;
  font-family: OpenSans-medium;
}
.font-regular {
    margin: 0;
  font-family: OpenSans-regular;
}

.font-8{
    font-size: 8px;
}
.font-10{
    font-size: 10px;
}
.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}
.font-22{
    font-size: 22px;
}
.font-24{
    font-size: 24px;
}
.font-28{
    font-size: 28px;
}
.font-36{
    font-size: 36px;
}

/* utility classes */
.wh-30{
    width: 30px;
    max-height: 30px;
}

@media screen and (max-width: 500px) {
    .font-22{
        font-size: 18px;
    }
    .font-24{
        font-size: 20px;
    }
    .font-28{
        font-size: 20px;
    }
    .font-36{
        font-size: 28px;
    }
}