.section {
    min-height: calc(100vh - 14rem);
}

.jss_logo {
    min-height: 73px;
    min-width: 73px;
}

.input {
    border: 1px solid #D6DCE7;
    padding: 13px 20px;
}

.borderBottom {
    border-bottom: 0.5px solid #DCEAFF;
}
