.jss_logo {
    min-height: 73px;
    min-width: 73px;
}
.borderBottom {
    border-bottom: 0.5px solid #DCEAFF;
}

.textrtl{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    letter-spacing: 0.565em;
}