/* .section {
    min-height: calc(100vh - 7rem);
} */

.jss_logo {
    min-height: 73px;
    min-width: 73px;
}

.input {
    border: 1px solid #D6DCE7;
    padding: 13px 20px;
}

.input:focus {
    border: 1px solid #D6DCE7;
}

.borderBottom {
    border-bottom: 0.5px solid #050C44;
}

.hr {
    margin: 0 auto;
    width: 94%;
    border-bottom: 1px solid #F3F4F9;
}

.modalBg {
    background: rgba(51, 51, 51, 0.65);
}